<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-column">
                <h3>About us</h3>
                <p>
                    At our website, we combine food with the convinience of online ordering. With just a few clicks, you
                    can explore our menu, select your favorite dishes, and have them delivered right to your doorstep.
                </p>
            </div>
            <div class="footer-column">
                <h3>Contact</h3>
                <p>
                    123 Main St. <br>
                    AnyTown, Kosovo 10000 <br>
                    Email: <a href="email:order@restaurantista.org">order@restaurantista.org</a> <br>
                    Phone: <a href="tel:044-000-000 ">044-000-000</a>
                </p>
            </div>
            <div class="footer-column">
                <img src="./img/restaurantista-logo.jpg" alt="Logo" class="footer-logo">
                <div class="social-media-icons">
                    <a href="https://facebook.com/">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="https://twitter.com/">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                    <a href="https://instagram.com/">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                </div>
            </div>
        </div>
        <p class="footer-bottom">
            2024 Resturantista, <i class="fa-regular fa-copyright"></i> All rights reserved to WebDevs 02/24
        </p>
    </div>
</footer>