<header>
    <nav>
        <div class="logo">
            <a href="index.html">
                <img src="./img/LOGO.PNG" alt="Logo e kompanise (foto e pa disponueshme)">
            </a>
        </div>
        <div class="nav-links">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="menu.html">Menu</a>
                </li>
            </ul>
        </div>
        <div class="burger">
            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>
        </div>
    </nav>
</header>