header {
    background-color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 80px;
    width: 80px;
}

.nav-link ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link li {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
    margin-left: 10px;
}

.nav-link a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s;
}

.nav-link a:hover {
    color: #ff8000;
}

.burger {
    display: none;
}